name: Deploy VitePress

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm i pnpm -g
      - run: pnpm install --frozen-lockfile
      - run: pnpm docs:build

      - name: Deploy to main branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -f .vitepress/dist/*
          git commit -m "Deploy VitePress"
          git push origin HEAD:main -f
